@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

@import url("public/styles/header.css");
@import url("public/styles/footer.css");

@import url("public/styles/home.css");
@import url("public/styles/nothome.css");
@import url("public/styles/whyus.css");

@import url("public/styles/page-tours.css");

@import url("public/styles/login.css");
@import url("public/styles/register.css");
@import url("public/styles/details.css");

:root {
  --primary: #406F89;
  --primary-1: #F1FCFF;
  --white: #FFFFFF;
  --white-1: #F7F9FB;
  --black: #000000;
  --gray-1: rgba(255, 255, 255, 0.5);
  --gray-2: #AAAAAA;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1720px;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,
p, a, small, strong, li, 
div, button, input {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

button, a {
  cursor: pointer;
}

a {
  color: var(--white);
}

hr {
  margin: 24px 0;
}

body {
  width: 100%;
  margin: 0 auto;
}     



#orderForm {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 45px;
    z-index: 10000;
    top: 50%;
    left: 35%;
    transform: translate(-50%);
    transform: translateY(-50%);
    background-color: var(--primary);
    color: white;
    text-align: center;
    height: 450px;
    align-items: center;
    position: fixed;
    display: none;
  } 
  
  #form_close {
    cursor: pointer;
  }

  .for {
    display: block;
    margin: 0 auto;
  }
  
  .label_detail,
  .input_detail {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 60%;
    height: 5vh;
    border-radius: 5px;
  }
  
  .input_detail[type="submit"] {
    background-color: black;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 45px;
    text-transform: uppercase;
    font-weight: 700;
  }

  form img {
    position: absolute;
    top:25px;
    right: 25px;
  }