header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 20px 0;

  background-color: transparent;
  border-bottom: 1px solid var(--gray-1);
  
  transition: all 0.3s;
}

.headered {
  background-color: var(--white);
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.3);
}

.img-header-logo {
  transition: all 0.3s;
}

.img-headered-logo {
  filter: brightness(0.6) sepia(1) hue-rotate(190deg);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 80px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}