#tour a {
  color: var(--black);
}

.t-tours {
  padding: 80px 0;
}

.t-tours-title {
  display: flex;
  justify-content: space-between;
}

.option-buttons {
  display: flex;
  gap: 10px;
}

.t-tours-block {
  display: flex;
  gap: 2%;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.param {
  display: flex;
  flex-direction: column;
}

.param a {
  border-bottom: 1px solid var(--gray-2);
}

.t-tours-content > div > div {
  box-shadow: 0 0.5px 10px rgba(50, 50, 50, 0.1);
}

.show-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tour-card {
  width: 100%;
  padding: 12px;

  display: flex;
  gap: 24px;

  background-color: var(--white-1);

  border-radius: 24px;

  transition: all 0.3s;
}

.tour-card:hover {
  transform: scale(1.007);
}

.img-tour {
  max-width: 500px;
  max-height: 500px;
  min-width: 160px;
  min-height: 100px;
  border-radius: 24px;
  overflow: hidden;
}

.img-tour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-content {
  padding: 0 0 24px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-description {
  display: flex;
  justify-content: space-between;
}

.show-card {
  display: none;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.s-tour-card {
  padding: 12px;

  border-radius: 24px;

  background-color: var(--white-1);

  transition: all 0.3s;
}

.s-tour-card:hover {
  transform: scale(1.007);
}

.img-s-tour {
  min-width: 160px;
  min-height: 100px;
  border-radius: 24px;
  overflow: hidden;
}

.img-s-tour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-tour-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s-tour-info {
  display: flex;
  flex-direction: column;
}

.s-tour-description {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#showRow {
  display: none;
}

.btn-t-tours-option {
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid var(--black);
  border-radius: 30px;

  background-color: var(--white-1);
}

.sitemap {
  font-family: monospace;
}